<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Code Editor</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/prism/prism.css} "/>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <H1>Неверно</H1>
            <h2>Лог компилятора:</h2>
            <h3 th:text="${result.makeLog}"></h3>
            <h2>Лог выполнения:</h2>
            <h3 th:text="${result.execLog}"></h3>
        </div>
    </div>
</div>

<script th:src="@{/assets/prism/prism.js}"></script>

</body>
</html>
